openapi: 3.0.3
info:
  title: Procuros All Transactions API
  description: Manage Procuros Transactions.
  version: 2.0.0
servers:
- url: https://api.procuros.io/
- url: https://api.procuros-staging.io/
security:
- api_token: []
tags:
- name: All Transactions
paths:
  /v2/all-transactions:
    get:
      operationId: v2_list_all_transactions
      summary: List All Transactions
      description: List all existing transactions to and from your trade partners.
      tags:
      - All Transactions
      parameters:
      - name: filter[type]
        in: query
        required: false
        allowReserved: true
        schema:
          $ref: '#/components/schemas/TransactionType'
      - name: filter[flow]
        in: query
        required: false
        allowReserved: true
        schema:
          $ref: '#/components/schemas/TransactionFlow'
      - name: filter[status]
        in: query
        required: false
        allowReserved: true
        schema:
          $ref: '#/components/schemas/TransactionStatus'
      - name: filter[created_between]
        in: query
        required: false
        allowReserved: true
        schema:
          type: string
          description: 'Filter transactions created between two dates. Format: YYYY-MM-DD,YYYY-MM-DD'
          example: 2024-01-01,2024-01-31
      - name: cursor
        in: query
        description: Page cursor
        required: false
        schema:
          type: string
      - name: per_page
        in: query
        description: Number of transactions returned per page.
        required: false
        schema:
          type: integer
          default: 100
          minimum: 1
          maximum: 100
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - items
                - hasMore
                - perPage
                - count
                - nextCursor
                - nextPageUrl
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Transaction'
                  hasMore:
                    type: boolean
                    description: Whether or not more transactions can be fetched on the next page.
                  perPage:
                    type: integer
                    description: Amount of transactions returned per page.
                  count:
                    type: integer
                    description: Amount of transactions on the current page.
                  nextCursor:
                    type: string
                    nullable: true
                    description: Supplied to the `cursor` query parameter. See [Pagination] for more info.
                  nextPageUrl:
                    type: string
                    format: url
                    nullable: true
                    description: Prebuilt URL to retrieve the next page of transactions.
              examples:
                List of transactions:
                  value:
                    hasMore: false
                    perPage: 100
                    count: 3
                    nextCursor: null
                    nextPageUrl: null
                    items:
                    - procurosTransactionId: 949b2f25-fd9d-4c58-8899-b4dc277f8cf9
                      type: ORDER
                      flow: LIVE
                      status: SUCCESS
                      createdAt: '2024-01-01T00:00:00+00:00'
                      replacesProcurosTransactionId: null
                      replacedByProcurosTransactionId: null
                      isLatestVersion: true
                      content:
                        header:
                          buyer:
                            name: ACME Co. Ltd.
                            identifiers:
                            - identifier: '1100001016310'
                              domain: GS1
                            postalAddress:
                              name: ACME Co. Ltd.
                              street: Elroy-Fritsch-Ring 15
                              city: Berlin
                              countryCode: DE
                              postalCode: '82643'
                            contacts:
                            - firstName: John
                              lastName: Doe
                              email: jane.doe@example.com
                              fax: (818) 463-6124
                              phone: +1.352.856.0626
                          supplier:
                            name: Testsupplier
                            identifiers:
                            - identifier: '1100001016312'
                              domain: GS1
                          shipTo:
                            identifiers:
                            - identifier: '1100001016313'
                              domain: GS1
                          billTo:
                            identifiers:
                            - identifier: '1100001016314'
                              domain: GS1
                          orderIdentifier: PO9383-R45
                          orderDate: '2021-09-30'
                          currency: EUR
                          requestedDeliveryDate: '2021-10-05'
                          comments: Something to comment
                        items:
                        - lineNumber: 1
                          identifiers:
                          - identifier: '4300348765432'
                            domain: GS1
                          - identifier: PROD-77-LS
                            domain: BUYER
                          - identifier: sp_gr_8
                            domain: SUPPLIER
                          isDepositItem: false
                          quantity: 20
                          unitOfMeasure: EA
                          description: First product description.
                          unitPrice: 0.15
                        - lineNumber: 2
                          identifiers:
                          - identifier: '4300348765433'
                            domain: GS1
                          - identifier: PROD-78-LS
                            domain: BUYER
                          - identifier: sp_gr_9
                            domain: SUPPLIER
                          isDepositItem: false
                          quantity: 19
                          unitOfMeasure: EA
                          description: Sparkling Water - Crate (6x0.75l).
                          unitPrice: 1.5
                        - lineNumber: 3
                          identifiers:
                          - identifier: '4300348765434'
                            domain: GS1
                          - identifier: PFAND-00B-LS
                            domain: SUPPLIER
                          isDepositItem: true
                          quantity: 19
                          unitOfMeasure: EA
                          description: Deposit 1x crate + 6x bottles.
                          unitPrice: 3.3
                    - procurosTransactionId: 94fe13aa-8c9b-40e5-9937-42b852185858
                      type: SHIPPING_NOTICE
                      flow: LIVE
                      status: SUCCESS
                      createdAt: '2024-01-01T00:00:00+00:00'
                      replacesProcurosTransactionId: null
                      replacedByProcurosTransactionId: null
                      isLatestVersion: true
                      content:
                        header:
                          buyer:
                            name: ACME Co. Ltd.
                            identifiers:
                            - identifier: '1100001016310'
                              domain: GS1
                            postalAddress:
                              city: Berlin
                              countryCode: DE
                              name: ACME Co. Ltd.
                              postalCode: '82643'
                              street: Elroy-Fritsch-Ring 15
                            contacts:
                            - firstName: Jane
                              lastName: Doe
                              email: jane.doe@example.com
                              fax: (818) 463-6124
                              phone: +1.352.856.0626
                          supplier:
                            name: Testsupplier
                            identifiers:
                            - identifier: '1100001016312'
                              domain: GS1
                          shipTo:
                            identifiers:
                            - identifier: '1100001016313'
                              domain: GS1
                          billTo:
                            identifiers:
                            - identifier: '1100001016314'
                              domain: GS1
                          shippingNoticeIdentifier: SN9383-R45
                          shippingNoticeDate: '2021-11-24'
                          orderIdentifier: PO9383-R45
                          orderDate: '2021-11-20'
                          despatchDate: '2021-11-05'
                          requestedDeliveryDate: '2021-11-06'
                          expectedDeliveryDate: '2021-11-06'
                          carrier: Example Delivery Solution
                          trackingNumber: b52ea6a7-c2ea-3bfc-a63f-19140d3b3af5
                          trackingUrl: https://api.procuros.com/example
                          comments: Something to comment
                        transportUnits:
                        - items:
                          - lineNumber: 1
                            orderLineNumber: 1
                            identifiers:
                            - identifier: '4300348765432'
                              domain: GS1
                            - identifier: PROD-77-LS
                              domain: BUYER
                            - identifier: sp_gr_8
                              domain: SUPPLIER
                            isDepositItem: false
                            orderedQuantity: 20
                            shippedQuantity: 20
                            unitPrice: 200
                            description: First product description.
                          - lineNumber: 2
                            orderLineNumber: 2
                            identifiers:
                            - identifier: '4300348765433'
                              domain: GS1
                            - identifier: PROD-78-LS
                              domain: BUYER
                            - identifier: sp_gr_9
                              domain: SUPPLIER
                            isDepositItem: false
                            orderedQuantity: 19
                            shippedQuantity: 15
                            openQuantityAction: DISCARDED
                            unitPrice: 1.5
                            description: Second product description.
                    - procurosTransactionId: 94fe1224-ae01-4587-8155-8e852cbbe75d
                      type: INVOICE
                      flow: LIVE
                      status: SUCCESS
                      createdAt: '2024-01-01T00:00:00+00:00'
                      replacesProcurosTransactionId: null
                      replacedByProcurosTransactionId: null
                      isLatestVersion: true
                      content:
                        header:
                          buyer:
                            name: ACME Co. Ltd.
                            identifiers:
                            - identifier: '4522704465331'
                              domain: GS1
                            - identifier: DE123456789
                              domain: VAT_DE
                            postalAddress:
                              city: Berlin
                              countryCode: DE
                              name: ACME Co. Ltd.
                              postalCode: '82643'
                              street: Elroy-Fritsch-Ring 15
                            contacts:
                            - firstName: Jane
                              lastName: Doe
                              email: jane.doe@example.com
                              fax: (818) 463-6124
                              phone: +1.352.856.0626
                          supplier:
                            name: Testsupplier
                            identifiers:
                            - identifier: '4231930775745'
                              domain: GS1
                            - identifier: DE234567890
                              domain: VAT_DE
                          shipTo:
                            identifiers:
                            - identifier: '1100001016313'
                              domain: GS1
                          billTo:
                            identifiers:
                            - identifier: '1100001016314'
                              domain: GS1
                          invoiceIdentifier: IV9383-R45
                          invoiceDate: '2021-11-11'
                          shippingNoticeIdentifier: SN9383-R45
                          shippingNoticeDate: '2021-11-04'
                          orderIdentifier: PO9383-R45
                          orderDate: '2021-11-10'
                          paymentTerms:
                          - payInNumberOfDays: 28
                            percentage: 3
                          comments: Something to comment
                        items:
                        - lineNumber: 1
                          identifiers:
                          - identifier: '4300348765432'
                            domain: GS1
                          - identifier: PROD-77-LS
                            domain: BUYER
                          - identifier: sp_gr_8
                            domain: SUPPLIER
                          isDepositItem: false
                          quantity: 20
                          unitPrice: 200
                          description: First product description.
                          tax:
                            amount: 760
                            percentage: 19
                            description: Total tax amount.
                        - lineNumber: 2
                          identifiers:
                          - identifier: '4300348765433'
                            domain: GS1
                          - identifier: PROD-78-LS
                            domain: BUYER
                          - identifier: sp_gr_9
                            domain: SUPPLIER
                          isDepositItem: false
                          quantity: 15
                          unitPrice: 1.5
                          description: Second product description.
                          tax:
                            amount: 26.775
                            percentage: 19
                            description: Total tax amount.
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralValidationErrorResponse'
        4XX:
          description: Client Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalErrorResponse'
        5XX:
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalErrorResponse'
  /v2/all-transactions/{procurosTransactionId}:
    get:
      operationId: v2_show_transaction
      summary: Show Transaction
      description: Show a single transaction.
      tags:
      - All Transactions
      parameters:
      - name: procurosTransactionId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    $ref: '#/components/schemas/Transaction'
              examples:
                Single Transaction:
                  value:
                    data:
                      procurosTransactionId: 949b2f25-fd9d-4c58-8899-b4dc277f8cf9
                      type: ORDER
                      flow: LIVE
                      status: SUCCESS
                      createdAt: '2024-01-01T00:00:00+00:00'
                      replacesProcurosTransactionId: null
                      replacedByProcurosTransactionId: null
                      isLatestVersion: true
                      content:
                        header:
                          buyer:
                            name: ACME Co. Ltd.
                            identifiers:
                            - identifier: '1100001016310'
                              domain: GS1
                            postalAddress:
                              name: ACME Co. Ltd.
                              street: Elroy-Fritsch-Ring 15
                              city: Berlin
                              countryCode: DE
                              postalCode: '82643'
                            contacts:
                            - firstName: John
                              lastName: Doe
                              email: jane.doe@example.com
                              fax: (818) 463-6124
                              phone: +1.352.856.0626
                          supplier:
                            name: Testsupplier
                            identifiers:
                            - identifier: '1100001016312'
                              domain: GS1
                          shipTo:
                            identifiers:
                            - identifier: '1100001016313'
                              domain: GS1
                          billTo:
                            identifiers:
                            - identifier: '1100001016314'
                              domain: GS1
                          orderIdentifier: PO9383-R45
                          orderDate: '2021-09-30'
                          currency: EUR
                          requestedDeliveryDate: '2021-10-05'
                          comments: Something to comment
                        items:
                        - lineNumber: 1
                          identifiers:
                          - identifier: '4300348765432'
                            domain: GS1
                          - identifier: PROD-77-LS
                            domain: BUYER
                          - identifier: sp_gr_8
                            domain: SUPPLIER
                          isDepositItem: false
                          quantity: 20
                          unitOfMeasure: EA
                          description: First product description.
                          unitPrice: 0.15
                        - lineNumber: 2
                          identifiers:
                          - identifier: '4300348765433'
                            domain: GS1
                          - identifier: PROD-78-LS
                            domain: BUYER
                          - identifier: sp_gr_9
                            domain: SUPPLIER
                          isDepositItem: false
                          quantity: 19
                          unitOfMeasure: EA
                          description: Sparkling Water - Crate (6x0.75l).
                          unitPrice: 1.5
                        - lineNumber: 3
                          identifiers:
                          - identifier: '4300348765434'
                            domain: GS1
                          - identifier: PFAND-00B-LS
                            domain: SUPPLIER
                          isDepositItem: true
                          quantity: 19
                          unitOfMeasure: EA
                          description: Deposit 1x crate + 6x bottles.
                          unitPrice: 3.3
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralValidationErrorResponse'
        4XX:
          description: Client Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalErrorResponse'
        5XX:
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalErrorResponse'
components:
  schemas:
    InventoryReportItem:
      type: object
      properties:
        name:
          type: string
        lineNumber:
          type: integer
        availableQuantity:
          type: number
          format: float
        blockedQuantity:
          type: number
          format: float
        orderedQuantity:
          type: number
          format: float
        identity:
          type: object
          properties:
            senderPartnerId:
              type: string
            receiverPartnerId:
              type: string
            gtin:
              type: string
        unitOfMeasure:
          $ref: '#/components/schemas/UnitOfMeasure'
        unitPrice:
          type: number
          format: float
        pricingUnitOfMeasure:
          type: string
          maxLength: 255
          description: The unit of measure used for pricing. This field specifies the unit that the price refers to, which may differ from the quantity unit (e.g., price per carton when quantity is in pieces).
        pricingUnitQuantity:
          type: number
          format: float
          description: 'The quantity of base units contained in the pricing unit of measure. For example, if the price is per carton (pricingUnitOfMeasure: "CT") and each carton contains 100 pieces, this field stores 100.'
        tax:
          $ref: '#/components/schemas/Tax'
        netWeight:
          type: integer
          description: In grams
        grossWeight:
          type: integer
          description: In grams
        hsCode:
          type: string
        originCountryCode:
          type: string
          description: ISO 3166-1 alpha-2 country code.
          example: DE
        colorCode:
          type: string
          description: Color code of the item.
        colorName:
          type: string
          description: Color name of the item.
        size:
          type: string
          description: Size of the item.
        dimension:
          type: string
          description: Dimension of the item.
        comment:
          type: string
        batches:
          type: array
          items:
            allOf:
            - $ref: '#/components/schemas/Batch'
            - properties:
                status:
                  type: string
                statusReason:
                  type: string
    TransactionContent:
      oneOf:
      - $ref: '#/components/schemas/Order'
      - $ref: '#/components/schemas/OrderResponse'
      - $ref: '#/components/schemas/ShippingNotice'
      - $ref: '#/components/schemas/Invoice'
      - $ref: '#/components/schemas/CreditNote'
      - $ref: '#/components/schemas/DispatchInstruction'
      - $ref: '#/components/schemas/DispatchInstructionResponse'
      - $ref: '#/components/schemas/ReceivalNotice'
      - $ref: '#/components/schemas/RemittanceAdvice'
      - $ref: '#/components/schemas/ProductCatalog'
      - $ref: '#/components/schemas/InventoryReport'
      - $ref: '#/components/schemas/SalesReport'
    PartyIdentifier:
      type: object
      required:
      - identifier
      - domain
      properties:
        identifier:
          type: string
          description: Party identifier within the "domain" such as GLN on GS1 domain, DUNS number on DUNS domain, etc.
          example: '1100001016310'
        domain:
          type: string
          description: Identification system the identifier belongs to.
          default: GS1
          enum:
          - GS1
          - DUNS
          - VAT_DE
          - FED_TAX
          - SENDER_INTERNAL
          - RECEIVER_INTERNAL
    ProductCatalogItemWithSubSubItems:
      allOf:
      - $ref: '#/components/schemas/ProductCatalogItem'
      - type: object
        properties:
          subItems:
            type: array
            description: Sub items of this product catalog item. Supports two levels of nesting.
            items:
              $ref: '#/components/schemas/ProductCatalogItemWithSubItems'
    ValidationError:
      type: object
      additionalProperties:
        type: array
        description: List of validation errors.
        minItems: 1
        items:
          type: string
    OrderResponseItem:
      type: object
      properties:
        lineNumber:
          example: 1
          type: integer
        orderLineNumber:
          type: integer
          description: The line number of the order item that this response item refers to.
        identifiers:
          type: array
          minItems: 1
          description: There must be at least one identifier with domain `GS1` or `BUYER`.
          items:
            $ref: '#/components/schemas/ItemIdentifier'
        isDepositItem:
          type: boolean
          description: 'If true, the item is a deposit item such as bottle deposit (German: Pfandartikel).'
        orderedQuantity:
          example: 2
          type: number
          format: float
        confirmedQuantity:
          example: 2
          type: number
          format: float
        requestedDeliveryDate:
          $ref: '#/components/schemas/DateTime'
        requestedEarliestDeliveryDate:
          $ref: '#/components/schemas/DateTime'
        requestedLatestDeliveryDate:
          $ref: '#/components/schemas/DateTime'
        confirmedDeliveryDate:
          $ref: '#/components/schemas/DateTime'
        confirmedEarliestDeliveryDate:
          $ref: '#/components/schemas/DateTime'
        confirmedLatestDeliveryDate:
          $ref: '#/components/schemas/DateTime'
        confirmedShipmentDate:
          $ref: '#/components/schemas/DateTime'
        unitOfMeasure:
          $ref: '#/components/schemas/UnitOfMeasure'
        description:
          type: string
        comments:
          type: string
        unitPrice:
          example: 4.75
          type: number
          format: float
        pricingUnitOfMeasure:
          type: string
          maxLength: 255
          description: The unit of measure used for pricing. This field specifies the unit that the price refers to, which may differ from the quantity unit (e.g., price per carton when quantity is in pieces).
        pricingUnitQuantity:
          type: number
          format: float
          description: 'The quantity of base units contained in the pricing unit of measure. For example, if the price is per carton (pricingUnitOfMeasure: "CT") and each carton contains 100 pieces, this field stores 100.'
        recommendedRetailPrice:
          example: 5.25
          type: number
          format: float
        tax:
          $ref: '#/components/schemas/Tax'
        contractReference:
          type: string
          maxLength: 255
          description: Contract reference for this item.
        promotionCode:
          type: string
          maxLength: 255
          description: Promotion code applied to this item.
        minimumRemainingShelfLifeInDays:
          type: integer
          description: Minimum remaining shelf life in days.
        netWeight:
          type: number
          format: float
          description: Net weight of the item in grams.
        grossWeight:
          type: number
          format: float
          description: Gross weight of the item in grams.
        originCountryCode:
          type: string
          description: ISO 3166-1 alpha-2 country code.
          example: DE
        colorCode:
          type: string
          description: Color code of the item.
        colorName:
          type: string
          description: Color name of the item.
        size:
          type: string
          description: Size of the item.
        dimension:
          type: string
          description: Dimension of the item.
        hsCode:
          type: string
          description: Harmonized System Code of the item.
        cnCode:
          type: string
          description: The 8-digit Combined Nomenclature (CN) code classifying this product for EU customs and trade statistics. Suppliers are responsible for providing a valid code.
        organicControlPointNumber:
          type: string
          maxLength: 255
          description: Organic Control Point Number of the supplier - OCPN is a unique identifier that verifies that a producer of organic products is adhering to the standards for organic production.
        fscNumber:
          type: string
          description: An FSC number refers to an identification number issued by the Forest Stewardship Council (FSC), an international organization that certifies sustainable forestry practices.
        mscNumber:
          type: string
          description: An MSC number refers to an identification number issued by the Marine Stewardship Council (MSC), an international organization that certifies sustainable fishing practices.
        season:
          type: string
          description: The season or collection period this item belongs to. Used to group and filter assortment by seasonal release.
        gender:
          type: string
          description: The target gender this item is designed for (e.g. Male, Female, Unisex). Used to classify and filter assortment by gender segment.
          example: SS27
        modificationGroups:
          type: array
          items:
            $ref: '#/components/schemas/ModificationGroup'
        attachments:
          type: array
          description: Document attachments for this line item response, such as technical datasheets, product labels, or compliance documentation.
          items:
            $ref: '#/components/schemas/LineItemAttachment'
    ProductCatalog:
      type: object
      title: Product Catalog
      required:
      - header
      - items
      properties:
        header:
          $ref: '#/components/schemas/ProductCatalogHeader'
        items:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/ProductCatalogItemWithSubSubItems'
    SalesReportHeader:
      type: object
      required:
      - salesReportIdentifier
      - salesReportDate
      - salesPeriodStartDate
      - salesPeriodEndDate
      - supplier
      - buyer
      properties:
        salesReportIdentifier:
          type: string
        salesReportDate:
          $ref: '#/components/schemas/DateTime'
        salesPeriodStartDate:
          $ref: '#/components/schemas/DateTime'
        salesPeriodEndDate:
          $ref: '#/components/schemas/DateTime'
        currency:
          $ref: '#/components/schemas/Currency'
        supplier:
          $ref: '#/components/schemas/Party'
        buyer:
          $ref: '#/components/schemas/Party'
        technicalRecipient:
          description: Used when the recipient of the message differs from the buyer or bill_to party. Common in scenarios where invoices or documents need to be sent to a centralized receiving entity (e.g., a group headquarters or shared services center) that differs from the actual buyer or billing party in the transaction.
          allOf:
          - $ref: '#/components/schemas/Party'
        technicalSender:
          description: Used when the sender of the message differs from the supplier party. Common in scenarios where orders or documents are sent from a centralized sending entity (e.g., a group headquarters or shared services center) that differs from the actual buyer in the transaction.
          allOf:
          - $ref: '#/components/schemas/Party'
        comments:
          type: string
          maxLength: 100000
          description: Arbitrary human-readable information
    RemittanceAdviceSummary:
      type: object
      properties:
        dueTotal:
          type: number
          format: float
        remittedTotal:
          type: number
          format: float
        correctionTotal:
          type: number
          format: float
    ModeOfTransport:
      type: string
      description: Chosen mode of transport for the shipment.
      enum:
      - ROAD
      - RAIL
      - AIR
      - SEA
      - MULTIMODAL
    Transaction:
      type: object
      required:
      - procurosTransactionId
      - status
      - flow
      - createdAt
      - type
      - content
      - isLatestVersion
      properties:
        procurosTransactionId:
          $ref: '#/components/schemas/ProcurosTransactionId'
        type:
          $ref: '#/components/schemas/TransactionType'
        status:
          $ref: '#/components/schemas/TransactionStatus'
        flow:
          $ref: '#/components/schemas/TransactionFlow'
        createdAt:
          $ref: '#/components/schemas/DateTime'
        replacesProcurosTransactionId:
          type: string
          format: uuid
          nullable: true
          description: ID of the transaction this one replaces (i.e. this is a newer version of that transaction).
          example: 949b2f25-fd9d-4c58-8899-b4dc277f8cf9
        replacedByProcurosTransactionId:
          type: string
          format: uuid
          nullable: true
          description: ID of the transaction that replaced this one (i.e. a newer version exists).
          example: null
        isLatestVersion:
          type: boolean
          description: Whether this is the latest version of the transaction. False when a newer version exists (see replacedByProcurosTransactionId).
          example: true
        content:
          $ref: '#/components/schemas/TransactionContent'
    ReceivalNoticeTransportUnits:
      type: object
      required:
      - items
      properties:
        unitIdentifier:
          type: string
        unitType:
          type: string
          enum:
          - EURO_PALLET
          - EURO_PALLET_HALF
          - EURO_PALLET_QUARTER
          - CARTON
        containedTradeUnitCount:
          type: integer
          example: 1
        carrier:
          $ref: '#/components/schemas/TransportUnitCarrier'
        items:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/ReceivalNoticeItem'
    ItemIdentifier:
      type: object
      properties:
        identifier:
          type: string
          description: Party identifier within the 'domain' such as EAN/GTIN on GS1 domain, buyer's internal SKU on BUYER domain, etc.
          example: '43000000000011'
        domain:
          type: string
          description: Identification system the identifier belongs to.
          default: GS1
          enum:
          - GS1
          - BUYER
          - SUPPLIER
    CertificationsRequired:
      type: object
      description: Indicates which certifications are required for the ordered item.
      properties:
        fairtrade:
          type: boolean
          nullable: true
          description: Whether Fairtrade certification is required for this item.
        supplierQa:
          type: boolean
          nullable: true
          description: Whether supplier quality assurance certification is required for this item.
        eudr:
          type: boolean
          nullable: true
          description: Whether EU Deforestation Regulation (EUDR) certification is required for this item.
    InvoiceItem:
      type: object
      required:
      - lineNumber
      - identifiers
      - isDepositItem
      - isInvoicedItem
      - quantity
      - unitPrice
      - tax
      properties:
        lineNumber:
          type: integer
          example: 1
        shippingNoticeIdentifier:
          type: string
          description: Shipping notice number/reference.
          example: SN-0001
        shippingNoticeDate:
          $ref: '#/components/schemas/DateTime'
        shippingNoticeLineNumber:
          type: integer
          example: 1
        orderIdentifier:
          type: string
          description: Order number assigned to the related purchase order by the buyer.
        orderDate:
          $ref: '#/components/schemas/DateTime'
        orderLineNumber:
          type: integer
          example: 1
        requestedDeliveryDate:
          $ref: '#/components/schemas/DateTime'
        expectedDeliveryDate:
          $ref: '#/components/schemas/DateTime'
        identifiers:
          type: array
          minItems: 1
          description: There must be at least one identifier with domain `GS1` or `BUYER`.
          items:
            $ref: '#/components/schemas/ItemIdentifier'
        isDepositItem:
          type: boolean
          description: 'If true, the item is a deposit item such as bottle deposit (German: Pfandartikel).'
        isInvoicedItem:
          type: boolean
          description: Determine if this item is the invoiced item. Only invoiced items can have a unitPrice != 0. If an item is not invoiced and no parent item is invoiced either, sub items must exist.
        description:
          type: string
          description: Item description.
        comments:
          type: string
        quantity:
          type: number
          format: float
          example: 1
          description: For subitems, this must be the total quantity of this item. For example, the parent item is a display of chocolate bars and has quantity 2. Each display contains 50 chocolate bars. Therefore, the quantity of the "Chocolate Bar" subitem is 100 (2x50).
        freeQuantity:
          type: number
          format: float
          example: 1
          default: null
          description: The quantity of this item that is free of charge. For subitems, this must be the total free quantity of this item. For example, the parent item is a display of chocolate bars and has free quantity set to 2. Each display contains 50 chocolate bars. Therefore, the free quantity of the "Chocolate Bar" subitem is 100 (2x50).
        orderedQuantity:
          type: number
          format: float
          example: 1
          default: null
          description: The quantity ordered by the customer.
        unitPrice:
          type: number
          format: float
          default: null
          example: 2
        pricingUnitOfMeasure:
          type: string
          maxLength: 255
          description: The unit of measure used for pricing. This field specifies the unit that the price refers to, which may differ from the quantity unit (e.g., price per carton when quantity is in pieces).
        pricingUnitQuantity:
          type: number
          format: float
          description: 'The quantity of base units contained in the pricing unit of measure. For example, if the price is per carton (pricingUnitOfMeasure: "CT") and each carton contains 100 pieces, this field stores 100.'
        recommendedRetailPrice:
          type: number
          format: float
          default: null
          example: 2.5
        netWeight:
          type: number
          format: float
          description: Net weight of the item in grams.
        grossWeight:
          type: number
          format: float
          description: Gross weight of the item in grams.
        originCountryCode:
          type: string
          description: ISO 3166-1 alpha-2 country code.
          example: DE
        colorCode:
          type: string
          maxLength: 255
          description: Color code of the item.
        colorName:
          type: string
          maxLength: 255
          description: Color name of the item.
        size:
          type: string
          maxLength: 255
          description: Size of the item.
        dimension:
          type: string
          maxLength: 255
          description: Dimension of the item.
        hsCode:
          type: string
          maxLength: 255
          description: Harmonized System Code of the item.
        cnCode:
          type: string
          description: The 8-digit Combined Nomenclature (CN) code classifying this product for EU customs and trade statistics. Suppliers are responsible for providing a valid code.
        organicControlPointNumber:
          type: string
          maxLength: 255
          description: Organic Control Point Number of the supplier - OCPN is a unique identifier that verifies that a producer of organic products is adhering to the standards for organic production.
        fscNumber:
          type: string
          description: An FSC number refers to an identification number issued by the Forest Stewardship Council (FSC), an international organization that certifies sustainable forestry practices.
        mscNumber:
          type: string
          description: An MSC number refers to an identification number issued by the Marine Stewardship Council (MSC), an international organization that certifies sustainable fishing practices.
        certifications:
          $ref: '#/components/schemas/Certifications'
        promotionCode:
          type: string
          maxLength: 255
          description: Promotion code applied to this item. Does not affect invoice calculations.
        contractReference:
          type: string
          maxLength: 255
          description: Contract reference for this item.
        tax:
          $ref: '#/components/schemas/Tax'
        batches:
          type: array
          items:
            $ref: '#/components/schemas/Batch'
        modificationGroups:
          description: If a Modification Group is provided, the Invoice Summary is required.
          type: array
          items:
            $ref: '#/components/schemas/ModificationGroup'
        unitOfMeasure:
          $ref: '#/components/schemas/UnitOfMeasure'
    ShippingNoticeItemWithSubItems:
      allOf:
      - $ref: '#/components/schemas/ShippingNoticeItem'
      - type: object
        properties:
          subItems:
            type: array
            description: Sub items of this sub shipping notice item.
            items:
              $ref: '#/components/schemas/ShippingNoticeItem'
    OrderResponseHeader:
      type: object
      required:
      - buyer
      - supplier
      - orderResponseIdentifier
      - orderResponseDate
      - orderIdentifier
      properties:
        type:
          type: string
          description: Type of the order response. `ACCEPT` means the order was accepted exactly as ordered. `REJECT` means the order was fully rejected. `CHANGE` means part of the order was accepted but either line item quantities or delivery date are changed. **If this field is omitted or set to null, the response is treated identically to `REJECT` — items are prohibited and the order is considered fully rejected. It is strongly recommended to always provide an explicit type.**
          enum:
          - ACCEPT
          - REJECT
          - CHANGE
        version:
          type: integer
          description: If you are sending multiple order responses, this field must be incremented by 1 for each response.
        buyer:
          $ref: '#/components/schemas/Party'
        supplier:
          $ref: '#/components/schemas/Party'
        shipTo:
          description: 'If this is kept empty, the "buyer" is used as the "shipTo" party. Note: unlike other party fields, identifiers are optional for shipTo.'
          allOf:
          - $ref: '#/components/schemas/ShipToParty'
        billTo:
          description: If this is kept empty, the "buyer" is used as the "billTo" party.
          allOf:
          - $ref: '#/components/schemas/Party'
        finalRecipient:
          description: Used in case the shipTo is not the final recipient. Mostly used in dropshipping or cross-docking scenarios.
          allOf:
          - $ref: '#/components/schemas/Party'
        technicalRecipient:
          description: Used when the recipient of the message differs from the buyer or bill_to party. Common in scenarios where invoices or documents need to be sent to a centralized receiving entity (e.g., a group headquarters or shared services center) that differs from the actual buyer or billing party in the transaction.
          allOf:
          - $ref: '#/components/schemas/Party'
        technicalSender:
          description: Used when the sender of the message differs from the supplier party. Common in scenarios where orders or documents are sent from a centralized sending entity (e.g., a group headquarters or shared services center) that differs from the actual buyer in the transaction.
          allOf:
          - $ref: '#/components/schemas/Party'
        orderResponseIdentifier:
          type: string
          example: RE-PO9383-R45
          description: Order response number assigned by the supplier to identify this order response.
        orderResponseDate:
          $ref: '#/components/schemas/DateTime'
        orderIdentifier:
          type: string
          example: PO9383-R45
          description: Order number assigned to this purchase order by the buyer.
        orderDate:
          $ref: '#/components/schemas/DateTime'
        AdditionalOrderIdentifiers:
          $ref: '#/components/schemas/AdditionalOrderIdentifiers'
        confirmedDeliveryDate:
          description: Required on order response type `CHANGE`. Prohibited for `REJECT` type. The confirmed delivery date of the order response.
          allOf:
          - $ref: '#/components/schemas/DateTime'
        confirmedShipmentDate:
          description: The confirmed date on which the goods leave the supplier (shipment/dispatch date). Distinct from the confirmed delivery date, which is when the goods arrive at the destination.
          allOf:
          - $ref: '#/components/schemas/DateTime'
        requestedDeliveryDate:
          description: Required on order response type `CHANGE`. Prohibited for `REJECT` type. The requested delivery date of the order.
          allOf:
          - $ref: '#/components/schemas/DateTime'
        requestedEarliestDeliveryDate:
          description: 'Earliest date of the requested delivery window. Use ISO 8601 date format: YYYY-MM-DD (e.g. 2023-12-06).'
          allOf:
          - $ref: '#/components/schemas/DateTime'
        requestedLatestDeliveryDate:
          description: 'Latest date of the requested delivery window. Use ISO 8601 date format: YYYY-MM-DD (e.g. 2023-12-06).'
          allOf:
          - $ref: '#/components/schemas/DateTime'
        currency:
          $ref: '#/components/schemas/Currency'
        paymentTerms:
          type: array
          description: Used for defining payment targets and optional discounts.
          items:
            $ref: '#/components/schemas/PaymentTerm'
        comments:
          type: string
          maxLength: 100000
          description: Arbitrary human-readable information buyers can send within purchase orders
        deliveryInformation:
          type: string
          maxLength: 100000
          description: Delivery information for the order.
        purchasingInformation:
          type: string
          maxLength: 100000
          description: Additional information about purchasing.
        legalInformation:
          type: string
          maxLength: 100000
          description: Legal notices and information.
        contractReference:
          type: string
          maxLength: 255
          description: Contract reference for the order.
        promotionCode:
          type: string
          maxLength: 255
          description: Promotion code applied to the entire order.
    Date:
      type: string
      format: date
      pattern: ^\d{4}-\d{2}-\d{2}$
      example: '2021-11-11'
    PostalAddress:
      type: object
      description: Depending on the transaction different properties are required. Only on an invoice a full address is required.
      properties:
        name:
          type: string
          example: ACME Germany GmbH - Außenstelle Hamburg
          deprecated: true
          description: Use the "name" attribute on the "Party" object instead.
        street:
          type: string
          example: Sternstrasse 23
        addressExtra:
          type: string
          example: E4
        city:
          type: string
          example: Hamburg
        postalCode:
          type: string
          example: '21571'
        state:
          type: string
          example: HH
        countryCode:
          type: string
          minLength: 2
          maxLength: 2
          pattern: ^[A-Z]{2}$
          description: ISO 3166-1 standard two-letter country code.
          example: DE
    ReceivalNoticeHeader:
      type: object
      required:
      - receivalAdviceNumber
      - receivalDate
      - supplier
      - customer
      properties:
        receivalAdviceNumber:
          type: string
        receivalDate:
          $ref: '#/components/schemas/DateTime'
        deliveryNoteNumber:
          type: string
        customerOrderNumber:
          type: string
        shipTo:
          description: 'Note: unlike other party fields, identifiers are optional for shipTo.'
          allOf:
          - $ref: '#/components/schemas/ShipToParty'
        customer:
          $ref: '#/components/schemas/Party'
        deliveryNoteDate:
          $ref: '#/components/schemas/DateTime'
        orderDate:
          $ref: '#/components/schemas/DateTime'
        shipFrom:
          $ref: '#/components/schemas/Party'
        billTo:
          $ref: '#/components/schemas/Party'
        supplier:
          $ref: '#/components/schemas/Party'
        technicalRecipient:
          description: Used when the recipient of the message differs from the buyer or bill_to party. Common in scenarios where invoices or documents need to be sent to a centralized receiving entity (e.g., a group headquarters or shared services center) that differs from the actual buyer or billing party in the transaction.
          allOf:
          - $ref: '#/components/schemas/Party'
        technicalSender:
          description: Used when the sender of the message differs from the supplier party. Common in scenarios where orders or documents are sent from a centralized sending entity (e.g., a group headquarters or shared services center) that differs from the actual buyer in the transaction.
          allOf:
          - $ref: '#/components/schemas/Party'
        comments:
          type: string
          maxLength: 100000
          description: Arbitrary human-readable information buyers can send within dispatch instruction responses
        carrierId:
          type: string
        carrierDomain:
          type: string
        trackingNumber:
          type: string
        trackingUrl:
          type: string
        version:
          type: integer
          description: The document version number. Subsequent updates should increment this number by 1.
    CreditNoteItem:
      type: object
      required:
      - lineNumber
      - identifiers
      - isDepositItem
      - isInvoicedItem
      - quantity
      - unitPrice
      - tax
      properties:
        lineNumber:
          type: integer
          example: 1
        shippingNoticeIdentifier:
          type: string
          description: Shipping notice number/reference.
          example: SN-0001
        shippingNoticeDate:
          $ref: '#/components/schemas/DateTime'
        shippingNoticeLineNumber:
          type: integer
          example: 1
        orderIdentifier:
          type: string
          description: Order number assigned to the related purchase order by the buyer.
        orderDate:
          $ref: '#/components/schemas/DateTime'
        orderLineNumber:
          type: integer
          example: 1
        requestedDeliveryDate:
          $ref: '#/components/schemas/DateTime'
        expectedDeliveryDate:
          $ref: '#/components/schemas/DateTime'
        identifiers:
          type: array
          minItems: 1
          description: There must be at least one identifier with domain `GS1` or `BUYER`.
          items:
            $ref: '#/components/schemas/ItemIdentifier'
        isDepositItem:
          type: boolean
          description: 'If true, the item is a deposit item such as bottle deposit (German: Pfandartikel).'
        isInvoicedItem:
          type: boolean
          description: Determine if this item is the invoiced item. Only invoiced items can have a unitPrice != 0. If an item is not invoiced and no parent item is invoiced either, sub items must exist.
        description:
          type: string
          description: Item description.
        comments:
          type: string
        quantity:
          type: number
          format: float
          example: 1
          description: For subitems, this must be the total quantity of this item. For example, the parent item is a display of chocolate bars and has quantity 2. Each display contains 50 chocolate bars. Therefore, the quantity of the "Chocolate Bar" subitem is 100 (2x50).
        freeQuantity:
          type: number
          format: float
          example: 1
          default: null
          description: The quantity of this item that is free of charge. For subitems, this must be the total free quantity of this item. For example, the parent item is a display of chocolate bars and has free quantity set to 2. Each display contains 50 chocolate bars. Therefore, the free quantity of the "Chocolate Bar" subitem is 100 (2x50).
        orderedQuantity:
          type: number
          format: float
          example: 1
          default: null
          description: The quantity ordered by the customer.
        unitPrice:
          type: number
          format: float
          default: null
          example: 2
        pricingUnitOfMeasure:
          type: string
          maxLength: 255
          description: The unit of measure used for pricing. This field specifies the unit that the price refers to, which may differ from the quantity unit (e.g., price per carton when quantity is in pieces).
        pricingUnitQuantity:
          type: number
          format: float
          description: 'The quantity of base units contained in the pricing unit of measure. For example, if the price is per carton (pricingUnitOfMeasure: "CT") and each carton contains 100 pieces, this field stores 100.'
        recommendedRetailPrice:
          type: number
          format: float
          default: null
          example: 2.5
        netWeight:
          type: number
          format: float
          description: Net weight of the item in grams.
        grossWeight:
          type: number
          format: float
          description: Gross weight of the item in grams.
        originCountryCode:
          type: string
          minLength: 2
          maxLength: 2
          pattern: ^[A-Z]{2}$
          description: ISO 3166-1 standard two-letter country code.
          example: DE
        colorCode:
          type: string
          maxLength: 255
          description: Color code of the item.
        colorName:
          type: string
          maxLength: 255
          description: Color name of the item.
        size:
          type: string
          maxLength: 255
          description: Size of the item.
        dimension:
          type: string
          maxLength: 255
          description: Dimension of the item.
        hsCode:
          type: string
          maxLength: 255
          description: Harmonized System Code of the item.
        cnCode:
          type: string
          description: The 8-digit Combined Nomenclature (CN) code classifying this product for EU customs and trade statistics. Suppliers are responsible for providing a valid code.
        organicControlPointNumber:
          type: string
          maxLength: 255
          description: Organic Control Point Number of the supplier - OCPN is a unique identifier that verifies that a producer of organic products is adhering to the standards for organic production.
        fscNumber:
          type: string
          description: An FSC number refers to an identification number issued by the Forest Stewardship Council (FSC), an international organization that certifies sustainable forestry practices.
        mscNumber:
          type: string
          description: An MSC number refers to an identification number issued by the Marine Stewardship Council (MSC), an international organization that certifies sustainable fishing practices.
        certifications:
          $ref: '#/components/schemas/Certifications'
        promotionCode:
          type: string
          maxLength: 255
          description: Promotion code applied to this item. Does not affect invoice calculations.
        reason:
          type: string
          maxLength: 255
          description: Reason for the credit note
        tax:
          $ref: '#/components/schemas/Tax'
        batches:
          type: array
          items:
            $ref: '#/components/schemas/Batch'
        modificationGroups:
          description: If a Modification Group is provided, the Invoice Summary is required.
          type: array
          items:
            $ref: '#/components/schemas/ModificationGroup'
        unitOfMeasure:
          $ref: '#/components/schemas/UnitOfMeasure'
        contractReference:
          type: string
          maxLength: 255
          description: Contract reference for the credit note item.
    OrderResponse:
      type: object
      title: Order Response
      required:
      - header
      properties:
        header:
          $ref: '#/components/schemas/OrderResponseHeader'
        items:
          type: array
          description: 'Conditional based on the `type` field in the header: Required when type is `CHANGE`; optional when type is `ACCEPT` (omit to confirm all lines as-is, or include to selectively confirm specific items); prohibited when type is `REJECT` or when type is omitted/null (both treated as a full rejection). When the type is `CHANGE`, it must contain ALL order line items, regardless whether or not `orderedQuantity` and `confirmedQuantity` are equal.'
          minItems: 1
          items:
            $ref: '#/components/schemas/OrderResponseItem'
        summary:
          description: The summary is required if a modificationGroup exists on the order response, otherwise the summary is optional. In API v3, the summary will be mandatory in any case.
          type: object
          required:
          - subtotalAmount
          - grossAmount
          - netAmount
          - dueAmount
          - totalCharges
          - totalAllowances
          - tax
          properties:
            subtotalAmount:
              type: number
              format: float
              description: The sum of all line item subtotal amounts. The line item subtotal already includes all line item modifications.
            grossAmount:
              type: number
              format: float
              description: The netAmount plus taxes.
            netAmount:
              type: number
              format: float
              description: The subtotalAmount plus totalCharges and minus totalAllowances.
            dueAmount:
              type: number
              format: float
              description: 'The grossAmount minus deposit. Note: deposits are not yet supported, therefore dueAmount will always equal grossAmount for now.'
            totalCharges:
              type: number
              format: float
              description: The total sum of all charges applied on document-level. Does not include charges applied on item-level.
            totalAllowances:
              type: number
              format: float
              description: The total sum of all allowances applied on invoice level. Does not include allowances applied on item-level.
            tax:
              type: object
              minItems: 1
              required:
              - total
              - items
              properties:
                total:
                  type: number
                  format: float
                description:
                  type: string
                  example: Total item tax.
                items:
                  type: array
                  items:
                    type: object
                    required:
                    - percentage
                    - taxableAmount
                    - taxAmount
                    - category
                    properties:
                      percentage:
                        type: number
                        format: float
                      taxableAmount:
                        type: number
                        format: float
                      taxAmount:
                        type: number
                        format: float
                      category:
                        type: string
                        description: Category of the tax, such as "sales", "import", etc. This is free field attribute.
                      description:
                        type: string
            modificationGroups:
              type: array
              items:
                $ref: '#/components/schemas/ModificationGroup'
    DispatchInstruction:
      type: object
      title: Dispatch Instruction
      required:
      - header
      - items
      properties:
        header:
          $ref: '#/components/schemas/DispatchInstructionHeader'
        items:
          type: array
          minItems: 1
          items:
            allOf:
            - $ref: '#/components/schemas/DispatchInstructionItem'
            - type: object
              properties:
                subItems:
                  type: array
                  description: Sub items of this dispatch instruction item. Supports two levels of nesting.
                  items:
                    allOf:
                    - $ref: '#/components/schemas/DispatchInstructionItem'
                    - type: object
                      properties:
                        subItems:
                          type: array
                          description: Sub items of this sub dispatch instruction item.
                          items:
                            $ref: '#/components/schemas/DispatchInstructionItem'
    ShippingNoticeTransportUnit:
      type: object
      description: 'If a TransportUnit does not contain sub items (like packages on a pallet), it must contain a nonempty list of items. '
      required:
      - items
      properties:
        unitIdentifier:
          type: string
          description: Transport unit number. (SSCC or NVE)
          example: '340000000000001'
        unitType:
          type: string
          description: 'Transport unit type. Supported values: EURO_PALLET (Euro Pallet 120×80 cm), EURO_PALLET_HALF (1/2 Euro Pallet 80×60 cm), EURO_PALLET_QUARTER (1/4 Euro Pallet 60×40 cm), PALLET (generic/non-Euro pallet), PACKAGE, CARTON, CONTAINER.'
          enum:
          - EURO_PALLET
          - EURO_PALLET_HALF
          - EURO_PALLET_QUARTER
          - CARTON
          - PACKAGE
          - PALLET
          - CONTAINER
        containedTradeUnitCount:
          type: integer
          description: Number of contained trade units. (cases, cartons, etc.)
        requestedDeliveryDate:
          $ref: '#/components/schemas/DateTime'
        expectedDeliveryDate:
          $ref: '#/components/schemas/DateTime'
        requestedDespatchDate:
          $ref: '#/components/schemas/DateTime'
        despatchDate:
          $ref: '#/components/schemas/DateTime'
        carrier:
          $ref: '#/components/schemas/TransportUnitCarrier'
        items:
          type: array
          description: Line items contained in this transport unit.
          items:
            $ref: '#/components/schemas/ShippingNoticeItemWithSubSubItems'
    Batch:
      type: object
      properties:
        batchIdentifier:
          type: string
        expirationDate:
          $ref: '#/components/schemas/Date'
        quantity:
          type: number
          format: float
          description: How much of the shipping notice line item belongs to this batch. The sum of all batch quantities must be equal to the "shippedQuantity" of the shipping notice line item.
        netWeight:
          type: number
          format: float
          description: Net weight of the batch in grams.
        grossWeight:
          type: number
          format: float
          description: Gross weight of the batch in grams.
    ProductCatalogItemPackagingUnit:
      type: object
      required:
      - quantity
      properties:
        quantity:
          type: number
          format: float
        identity:
          $ref: '#/components/schemas/ProductCatalogIdentity'
        isOrderable:
          type: boolean
        length:
          type: integer
          description: In millimeters
        width:
          type: integer
          description: In millimeters
        height:
          type: integer
          description: In millimeters
        netWeight:
          type: integer
          description: In grams
        grossWeight:
          type: integer
          description: In grams
        volume:
          type: integer
          description: In cubic centimeters
        unitOfMeasure:
          $ref: '#/components/schemas/UnitOfMeasure'
    Currency:
      type: string
      description: ISO 4217 standard three-letter currency code.
      pattern: ^[A-Z]{3}$
      example: EUR
    InventoryReport:
      type: object
      title: Inventory Report
      required:
      - header
      - items
      properties:
        header:
          $ref: '#/components/schemas/InventoryReportHeader'
        items:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/InventoryReportItem'
    ShippingNoticeHeader:
      type: object
      required:
      - buyer
      - supplier
      - shippingNoticeIdentifier
      - shippingNoticeDate
      - orderIdentifier
      properties:
        buyer:
          allOf:
          - $ref: '#/components/schemas/Party'
        supplier:
          allOf:
          - $ref: '#/components/schemas/Party'
        shipFrom:
          description: Used in case the shipment is sent by a third-party logistics provider.
          allOf:
          - $ref: '#/components/schemas/Party'
        shipTo:
          description: 'If this is kept empty, the "buyer" is used as the "shipTo" party. Note: unlike other party fields, identifiers are optional for shipTo.'
          allOf:
          - $ref: '#/components/schemas/ShipToParty'
        billTo:
          description: If this is kept empty, the "buyer" is used as the "billTo" party.
          allOf:
          - $ref: '#/components/schemas/Party'
        finalRecipient:
          description: Used in case the shipTo is not the final recipient. Mostly used in dropshipping or cross-docking scenarios.
          allOf:
          - $ref: '#/components/schemas/Party'
        technicalRecipient:
          description: Used when the recipient of the message differs from the buyer or bill_to party. Common in scenarios where invoices or documents need to be sent to a centralized receiving entity (e.g., a group headquarters or shared services center) that differs from the actual buyer or billing party in the transaction.
          allOf:
          - $ref: '#/components/schemas/Party'
        technicalSender:
          description: Used when the sender of the message differs from the supplier party. Common in scenarios where orders or documents are sent from a centralized sending entity (e.g., a group headquarters or shared services center) that differs from the actual buyer in the transaction.
          allOf:
          - $ref: '#/components/schemas/Party'
        shippingNoticeIdentifier:
          type: string
        shippingNoticeDate:
          $ref: '#/components/schemas/DateTime'
        orderIdentifier:
          type: string
          description: Order number assigned to the related purchase order by the buyer.
        orderDate:
          $ref: '#/components/schemas/DateTime'
        AdditionalOrderIdentifiers:
          $ref: '#/components/schemas/AdditionalOrderIdentifiers'
        requestedDeliveryDate:
          $ref: '#/components/schemas/DateTime'
        requestedEarliestDeliveryDate:
          description: Earliest date of the requested delivery window.
          allOf:
          - $ref: '#/components/schemas/DateTime'
        requestedLatestDeliveryDate:
          description: Latest date of the requested delivery window.
          allOf:
          - $ref: '#/components/schemas/DateTime'
        expectedDeliveryDate:
          $ref: '#/components/schemas/DateTime'
        requestedDespatchDate:
          $ref: '#/components/schemas/DateTime'
        despatchDate:
          description: If this is kept empty, the "shippingNoticeDate" is used as "despatchDate".
          allOf:
          - $ref: '#/components/schemas/DateTime'
        carrier:
          type: string
          default: null
          description: Carriers company name.
        trackingNumber:
          type: string
          default: null
        trackingUrl:
          type: string
          default: null
        modeOfTransport:
          $ref: '#/components/schemas/ModeOfTransport'
        incoTerms:
          $ref: '#/components/schemas/IncoTerms'
        shippingMethod:
          type: string
        status:
          type: string
        comments:
          type: string
          maxLength: 100000
          description: Arbitrary human-readable information buyers can send within purchase orders
        deliveryInformation:
          type: string
          maxLength: 100000
          description: Information about the delivery process.
        purchasingInformation:
          type: string
          maxLength: 100000
          description: Additional information about purchasing.
        legalInformation:
          type: string
          maxLength: 100000
          description: Legal notices and information.
        currency:
          $ref: '#/components/schemas/Currency'
        version:
          type: integer
          description: The document version number. Subsequent updates should increment this number by 1.
    UnitOfMeasure:
      type: string
      description: Subset of the the UN/CEFACT Unit of Measure Common Codes.
      default: EA
      enum:
      - EA
      - GRM
      - HUR
      - KGM
      - LTR
      - MLT
      - MTK
      - MTR
      - PCK
      - SET
      - CS
      - CA
      - DAY
      - WEE
      - MON
      - CT
      - CQ
      - CU
      - BJ
      - BO
      - MTQ
      - PF
      - BG
      - RO
      - TNE
      - BE
      - CMT
      - KMT
      - PR
      - TU
    IncoTerms:
      type: string
      description: International Commercial Terms (INCOTERMS) as published by the International Chamber of Commerce (ICC).
      enum:
      - EXW
      - FCA
      - CPT
      - CIP
      - DAP
      - DDP
      - FAS
      - FOB
      - CFR
      - CIF
      - DAT
    Modification:
      type: object
      description: One of percentage and amount is required.
      properties:
        type:
          type: string
          description: Type of the modification
          enum:
          - ALLOWANCE
          - CHARGE
        calculationType:
          type: string
          description: Type of the calculation
          enum:
          - ABSOLUTE
          - RELATIVE
        reasonCode:
          type: string
          description: Reason for the modification
          enum:
          - SHIPPING
          - PACKAGING
          - HANDLING
          - DISCOUNT
          - INSURANCE
        description:
          type: string
          description: Description for the modification
        percentage:
          type: number
          format: float
          example: 1.5
        amount:
          type: number
          format: float
          example: 5.5
        tax:
          $ref: '#/components/schemas/Tax'
    DateTime:
      type: string
      format: date-time
      pattern: \d{4}(.\d{2}){2}(\s|T)(\d{2}.){2}\d{2}(.\d{6}(Z?))?
      example: '2021-10-23T00:00:00.000000Z'
    SalesReportLocation:
      type: object
      required:
      - location
      - items
      properties:
        location:
          $ref: '#/components/schemas/Party'
        salesPeriodStartDate:
          $ref: '#/components/schemas/DateTime'
        salesPeriodEndDate:
          $ref: '#/components/schemas/DateTime'
        items:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/SalesReportLocationItem'
    OrderHeader:
      type: object
      required:
      - buyer
      - supplier
      - orderIdentifier
      - orderDate
      properties:
        buyer:
          $ref: '#/components/schemas/Party'
        supplier:
          $ref: '#/components/schemas/Party'
        shipTo:
          description: 'If this is kept empty, the "buyer" is used as the "shipTo" party. Note: unlike other party fields, identifiers are optional for shipTo.'
          allOf:
          - $ref: '#/components/schemas/ShipToParty'
        billTo:
          description: If this is kept empty, the "buyer" is used as the "billTo" party.
          allOf:
          - $ref: '#/components/schemas/Party'
        finalRecipient:
          description: Used in case the shipTo is not the final recipient. Mostly used in dropshipping or cross-docking scenarios.
          allOf:
          - $ref: '#/components/schemas/Party'
        technicalRecipient:
          description: Used when the recipient of the message differs from the supplier party. Common in scenarios where invoices or documents need to be sent to a centralized receiving entity (e.g., a group headquarters or shared services center) that differs from the actual supplier in the transaction.
          allOf:
          - $ref: '#/components/schemas/Party'
        technicalSender:
          description: Used when the sender of the message differs from the buyer party. Common in scenarios where orders or documents are sent from a centralized sending entity (e.g., a group headquarters or shared services center) that differs from the actual buyer in the transaction.
          allOf:
          - $ref: '#/components/schemas/Party'
        orderIdentifier:
          type: string
          example: PO9383-R45
          description: Order number assigned to this purchase order by the buyer.
        orderDate:
          $ref: '#/components/schemas/DateTime'
        AdditionalOrderIdentifiers:
          $ref: '#/components/schemas/AdditionalOrderIdentifiers'
        type:
          type: string
          description: Type of the order as assigned by sender.
        requestedDeliveryDate:
          description: 'Requested delivery date. Use ISO 8601 date format: YYYY-MM-DD (e.g. 2023-12-06).'
          allOf:
          - $ref: '#/components/schemas/DateTime'
        requestedEarliestDeliveryDate:
          description: 'Earliest date of the requested delivery window. Use ISO 8601 date format: YYYY-MM-DD (e.g. 2023-12-06).'
          allOf:
          - $ref: '#/components/schemas/DateTime'
        requestedLatestDeliveryDate:
          description: 'Latest date of the requested delivery window. Use ISO 8601 date format: YYYY-MM-DD (e.g. 2023-12-06).'
          allOf:
          - $ref: '#/components/schemas/DateTime'
        currency:
          $ref: '#/components/schemas/Currency'
        paymentTerms:
          type: array
          description: Used for defining payment targets and optional discounts.
          items:
            $ref: '#/components/schemas/PaymentTerm'
        comments:
          type: string
          maxLength: 100000
          description: Arbitrary human-readable information buyers can send within purchase orders
        deliveryInformation:
          type: string
          maxLength: 100000
          description: Delivery information for the order.
        purchasingInformation:
          type: string
          maxLength: 100000
          description: Additional information about purchasing.
        legalInformation:
          type: string
          maxLength: 100000
          description: Legal notices and information.
        promotionCode:
          type: string
          maxLength: 255
          description: Promotion code applied to the entire order.
        contractReference:
          type: string
          maxLength: 255
          description: Contract reference for the order.
        version:
          type: integer
          description: The document version number. Subsequent updates should increment this number by 1.
        attachments:
          type: array
          items:
            $ref: '#/components/schemas/Attachment'
    AdditionalOrderIdentifiers:
      type: object
      description: Additional order identifiers for different parties in the transaction.
      properties:
        supplierOrderIdentifier:
          type: string
          description: Supplier order identifier.
          example: SUP-12345
        shipToOrderIdentifier:
          type: string
          description: Ship-to order identifier.
          example: ST-67890
        shipFromOrderIdentifier:
          type: string
          description: Ship-from order identifier.
          example: SF-11111
        billToOrderIdentifier:
          type: string
          description: Bill-to order identifier.
          example: BT-22222
        billFromOrderIdentifier:
          type: string
          description: Bill-from order identifier.
          example: BF-33333
        finalRecipientOrderIdentifier:
          type: string
          description: Final recipient order identifier.
          example: FR-44444
        technicalRecipientOrderIdentifier:
          type: string
          description: Technical recipient order identifier.
          example: TR-55555
    CreditNoteHeader:
      type: object
      required:
      - buyer
      - supplier
      - creditNoteIdentifier
      - creditNoteDate
      properties:
        buyer:
          $ref: '#/components/schemas/Party'
        supplier:
          $ref: '#/components/schemas/Party'
        shipTo:
          description: 'If this is kept empty, the "buyer" is used as the "shipTo" party. Note: unlike other party fields, identifiers are optional for shipTo.'
          allOf:
          - $ref: '#/components/schemas/ShipToParty'
        billTo:
          description: If this is kept empty, the "buyer" is used as the "billTo" party.
          allOf:
          - $ref: '#/components/schemas/Party'
        billFrom:
          description: If this is kept empty, the "supplier" is used as the "billFrom" party.
          allOf:
          - $ref: '#/components/schemas/Party'
        finalRecipient:
          description: Used in case the shipTo is not the final recipient. Mostly used in dropshipping or cross-docking scenarios.
          allOf:
          - $ref: '#/components/schemas/Party'
        technicalRecipient:
          description: Used when the recipient of the message differs from the buyer or bill_to party. Common in scenarios where invoices or documents need to be sent to a centralized receiving entity (e.g., a group headquarters or shared services center) that differs from the actual buyer or billing party in the transaction.
          allOf:
          - $ref: '#/components/schemas/Party'
        technicalSender:
          description: Used when the sender of the message differs from the supplier party. Common in scenarios where orders or documents are sent from a centralized sending entity (e.g., a group headquarters or shared services center) that differs from the actual buyer in the transaction.
          allOf:
          - $ref: '#/components/schemas/Party'
        creditNoteIdentifier:
          type: string
          description: Credit note number/reference.
          example: CN-0001
        creditNoteDate:
          $ref: '#/components/schemas/DateTime'
        creditNoteValueDate:
          $ref: '#/components/schemas/DateTime'
        creditNoteDueDate:
          $ref: '#/components/schemas/DateTime'
        type:
          type: string
          description: Credit note message type
          enum:
          - CORRECTION
          - VALUE_CREDIT
        invoiceIdentifier:
          type: string
          description: Invoice number/reference.
          example: IV-0001
        invoiceDate:
          $ref: '#/components/schemas/DateTime'
        shippingNoticeIdentifier:
          type: string
          description: Shipping notice number/reference.
          example: SN-0001
        shippingNoticeDate:
          $ref: '#/components/schemas/DateTime'
        orderIdentifier:
          type: string
          description: Order number assigned to the related purchase order by the buyer.
        orderDate:
          $ref: '#/components/schemas/DateTime'
        requestedDeliveryDate:
          $ref: '#/components/schemas/DateTime'
        expectedDeliveryDate:
          $ref: '#/components/schemas/DateTime'
        paymentTerms:
          type: array
          description: Used for defining payment targets and optional discounts.
          items:
            $ref: '#/components/schemas/PaymentTerm'
        comments:
          type: string
          maxLength: 100000
          description: Arbitrary human-readable information buyers can send within invoices
        deliveryInformation:
          type: string
          maxLength: 100000
          description: Information about the delivery process.
        purchasingInformation:
          type: string
          maxLength: 100000
          description: Additional information about purchasing.
        legalInformation:
          type: string
          maxLength: 100000
          description: Legal notices and information.
        currency:
          $ref: '#/components/schemas/Currency'
        promotionCode:
          type: string
          maxLength: 255
          description: Promotion code applied to the entire invoice. Does not affect invoice calculations.
        contractReference:
          type: string
          maxLength: 255
          description: Contract reference for the credit note.
        reason:
          type: string
          maxLength: 255
          description: Reason for the credit note
        organicControlPointNumber:
          type: string
          maxLength: 255
          description: Organic Control Point Number of the supplier - OCPN is a unique identifier that verifies that a producer of organic products is adhering to the standards for organic production.
        version:
          type: integer
          description: The document version number. Subsequent updates should increment this number by 1.
    CreditNoteItemWithSubSubItems:
      allOf:
      - $ref: '#/components/schemas/CreditNoteItem'
      - type: object
        properties:
          subItems:
            type: array
            description: Sub items of this credit note item. Supports two levels of nesting.
            items:
              $ref: '#/components/schemas/CreditNoteItemWithSubItems'
    InvoiceItemWithSubItems:
      allOf:
      - $ref: '#/components/schemas/InvoiceItem'
      - type: object
        properties:
          subItems:
            type: array
            description: Sub items of this sub invoice item.
            items:
              $ref: '#/components/schemas/InvoiceItem'
    Party:
      type: object
      required:
      - identifiers
      properties:
        name:
          type: string
          description: Mandatory if the deprecated "name" attribute on the "PostalAddress" object is omitted.
        identifiers:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/PartyIdentifier'
        postalAddress:
          $ref: '#/components/schemas/PostalAddress'
        contacts:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/Contact'
        financialInstitution:
          type: object
          properties:
            name:
              type: string
            institutionId:
              type: string
            institutionIdDomain:
              type: string
            accountNumber:
              type: string
            accountHolder:
              type: string
    LineItemAttachmentType:
      type: string
      description: Type/classification of the line item attachment document.
      enum:
      - DECLARATION_OF_CONFORMITY
      - ENERGY_LABEL
      - EU_DATASHEET
      - SAFETY_DATASHEET
      - TECHNICAL_DATASHEET
      - PRODUCT_LABEL
    ProductCatalogItem:
      type: object
      required:
      - lineNumber
      - quantity
      - identity
      properties:
        name:
          type: string
        lineNumber:
          type: integer
        quantity:
          type: number
          format: float
        identity:
          $ref: '#/components/schemas/ProductCatalogIdentity'
        predecessorIdentity:
          $ref: '#/components/schemas/ProductCatalogIdentity'
        successorIdentity:
          $ref: '#/components/schemas/ProductCatalogIdentity'
        alternativeIdentifiers:
          type: array
          items:
            $ref: '#/components/schemas/ProductCatalogIdentity'
        action:
          type: string
          enum:
          - NEW
          - CHANGED
          - DELETED
        currency:
          $ref: '#/components/schemas/Currency'
        unitOfMeasure:
          $ref: '#/components/schemas/UnitOfMeasure'
        isOrderable:
          type: boolean
        unitPrice:
          type: number
          format: float
        pricingUnitOfMeasure:
          type: string
          maxLength: 255
          description: The unit of measure used for pricing. This field specifies the unit that the price refers to, which may differ from the quantity unit (e.g., price per carton when quantity is in pieces).
        pricingUnitQuantity:
          type: number
          format: float
          description: 'The quantity of base units contained in the pricing unit of measure. For example, if the price is per carton (pricingUnitOfMeasure: "CT") and each carton contains 100 pieces, this field stores 100.'
        unitPriceValidFromDate:
          $ref: '#/components/schemas/DateTime'
        unitPriceValidUntilDate:
          $ref: '#/components/schemas/DateTime'
        recommendedRetailPrice:
          type: number
          format: float
        recommendedRetailPriceValidFromDate:
          $ref: '#/components/schemas/DateTime'
        recommendedRetailPriceValidUntilDate:
          $ref: '#/components/schemas/DateTime'
        minimumOrderQuantity:
          type: number
          format: float
        taxPercentage:
          type: number
          format: float
        depositAmount:
          type: number
          format: float
          description: Deposit amount in the currency of the item.
        shortDescription:
          type: string
        description:
          type: string
        perUnitQuantity:
          type: number
          format: float
          description: Quantity of consumer units (pieces, bottles) contained in this item.
        length:
          type: integer
          description: In millimeters
        width:
          type: integer
          description: In millimeters
        height:
          type: integer
          description: In millimeters
        netWeight:
          type: integer
          description: In grams
        grossWeight:
          type: integer
          description: In grams
        drainedWeight:
          type: integer
          description: In grams
        volume:
          type: integer
          description: In cubic centimeters
        category:
          type: string
          description: Used for product category, commodity group
        subCategory:
          type: string
        unNumber:
          type: integer
          description: 4-digit number assigned by the United Nations to classify hazardous substances and articles.
        hsCode:
          type: string
        cnCode:
          type: string
          description: The 8-digit Combined Nomenclature (CN) code classifying this product for EU customs and trade statistics. Suppliers are responsible for providing a valid code.
        htsCode:
          type: string
        deliverableFromDate:
          $ref: '#/components/schemas/DateTime'
        isDangerous:
          type: boolean
        hasExpiryDate:
          type: boolean
        hasBatchNumber:
          type: boolean
        hasSerialNumber:
          type: boolean
        minimumRemainingShelfLifeInDays:
          type: integer
          description: Minimum remaining shelf life in days.
        sourceIdentifier:
          type: string
          description: Identifies the source (warehouse, supplier, etc.) from which the item can be procured.
        originCountryCode:
          type: string
          description: ISO 3166-1 alpha-2 country code.
          example: DE
        colorCode:
          type: string
          description: Color code of the item.
        colorName:
          type: string
          description: Color name of the item.
        size:
          type: string
          description: Size of the item.
        dimension:
          type: string
          description: Dimension of the item.
        organicControlPointNumber:
          type: string
          maxLength: 255
          description: Organic Control Point Number of the supplier - OCPN is a unique identifier that verifies that a producer of organic products is adhering to the standards for organic production.
        fscNumber:
          type: string
          description: An FSC number refers to an identification number issued by the Forest Stewardship Council (FSC), an international organization that certifies sustainable forestry practices.
        mscNumber:
          type: string
          description: An MSC number refers to an identification number issued by the Marine Stewardship Council (MSC), an international organization that certifies sustainable fishing practices.
        season:
          type: string
          description: The season or collection period this item belongs to. Used to group and filter assortment by seasonal release.
        gender:
          type: string
          description: The target gender this item is designed for (e.g. Male, Female, Unisex). Used to classify and filter assortment by gender segment.
          example: SS27
        brand:
          type: string
          description: BRAND in a PRICAT (Price Catalogue) refers to the name of the product’s brand or manufacturer. It helps identify the product’s origin and is essential for classification, marketing, and buyer recognition.
        declarationOfConformity:
          type: string
          description: Declaration of Conformity in a PRICAT refers to a formal statement by the manufacturer confirming that the product meets all applicable EU safety, health, and environmental requirements. It is key for regulatory compliance and market approval.
        userManual:
          type: string
          description: User Manual / Instructions in a PRICAT refers to the documentation provided with a product that explains its proper use, safety guidelines, and maintenance. It ensures safe handling and compliance with regulatory requirements.
        energyLabel:
          type: string
          description: Energy Label in a PRICAT refers to the standardized label indicating a product’s energy efficiency class. It helps buyers assess energy consumption and supports compliance with EU energy labeling regulations.
        safetyDatasheet:
          type: string
          description: Safety Datasheet in a PRICAT refers to a document providing detailed information on the safe handling, storage, and disposal of a product. It is essential for compliance with chemical safety regulations and workplace protection.
        technicalDatasheet:
          type: string
          description: (Technical) Datasheet in a PRICAT refers to a document outlining the key technical specifications, features, and performance data of a product. It supports accurate product evaluation, comparison, and integration into systems or catalogues.
        euDatasheet:
          type: string
          description: EU Datasheet in a PRICAT refers to a product information sheet tailored to meet EU regulatory and market requirements. It typically includes technical specifications, compliance details, and other essential data for distribution within the EU.
        safetyInstructions:
          type: string
          description: Safety Instructions / Warnings in a PRICAT refer to mandatory information on potential hazards and safe usage of a product. They help ensure user safety and compliance with legal and regulatory standards.
        materialComposition:
          type: string
          description: All material components
        ingredients:
          type: string
          description: A simple string field to transmit the list of ingredients of a food item
        allergens:
          type: array
          description: An array of allergens that are contained in a food item
          items:
            type: object
            properties:
              identifiers:
                type: object
                description: Identifiers for the allergen
                properties:
                  gdsn:
                    type: string
                    description: GDSN identifier of the allergen
                  usda:
                    type: string
                    description: USDA identifier of the allergen
                  bls:
                    type: string
                    description: BLS identifier of the allergen
                  senderInternal:
                    type: string
                    description: Sender internal identifier of the allergen
                  receiverInternal:
                    type: string
                    description: Receiver internal identifier of the allergen
              name:
                type: string
                description: Name of the allergen
              presence:
                type: string
                description: Presence of the allergen in the product
                enum:
                - PRESENT
                - TRACES
                - FREE_FROM
                - UNKNOWN
        nutritionalInformation:
          type: object
          description: Comprehensive nutritional information for the product
          properties:
            energy:
              type: object
              properties:
                totalInKcal:
                  type: number
                  format: float
                  description: Total energy in kilocalories
                totalInKj:
                  type: number
                  format: float
                  description: Total energy in kilojoules
            fats:
              type: object
              properties:
                totalInGrams:
                  type: number
                  format: float
                saturatedInGrams:
                  type: number
                  format: float
                monounsaturatedInGrams:
                  type: number
                  format: float
                polyunsaturatedInGrams:
                  type: number
                  format: float
                transFatsInGrams:
                  type: number
                  format: float
                omega3FattyAcidsInGrams:
                  type: number
                  format: float
                omega6FattyAcidsInGrams:
                  type: number
                  format: float
                omega9FattyAcidsInGrams:
                  type: number
                  format: float
                epaInGrams:
                  type: number
                  format: float
                  description: Eicosapentaenoic acid in grams
                dhaInGrams:
                  type: number
                  format: float
                  description: Docosahexaenoic acid in grams
                cholesterolInMilligrams:
                  type: number
                  format: float
            carbohydrates:
              type: object
              properties:
                totalInGrams:
                  type: number
                  format: float
                sugarsInGrams:
                  type: number
                  format: float
                addedSugarsInGrams:
                  type: number
                  format: float
                polyolsInGrams:
                  type: number
                  format: float
                starchInGrams:
                  type: number
                  format: float
                lactoseInGrams:
                  type: number
                  format: float
            fiber:
              type: object
              properties:
                totalInGrams:
                  type: number
                  format: float
                solubleInGrams:
                  type: number
                  format: float
                insolubleInGrams:
                  type: number
                  format: float
                betaGlucansInGrams:
                  type: number
                  format: float
            proteins:
              type: object
              properties:
                totalInGrams:
                  type: number
                  format: float
                aminoAcids:
                  type: object
                  properties:
                    alanineInGrams:
                      type: number
                      format: float
                    arginineInGrams:
                      type: number
                      format: float
                    asparticAcidInGrams:
                      type: number
                      format: float
                    cysteineInGrams:
                      type: number
                      format: float
                    glutamicAcidInGrams:
                      type: number
                      format: float
                    glycineInGrams:
                      type: number
                      format: float
                    histidineInGrams:
                      type: number
                      format: float
                    isoleucineInGrams:
                      type: number
                      format: float
                    leucineInGrams:
                      type: number
                      format: float
                    lysineInGrams:
                      type: number
                      format: float
                    methionineInGrams:
                      type: number
                      format: float
                    phenylalanineInGrams:
                      type: number
                      format: float
                    prolineInGrams:
                      type: number
[...]
